.question {
  background-color: #23a2cb;
  font-family: "Sary Soft Regular", sans-serif;
  border-radius: 0.5rem;
  color: #ffffff;
  border: none;
  width: 60%;
  height: 1.7rem;
  margin-top: 2rem;
  padding-top: 0.3rem;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.9rem;
}

.Bloc1 h1 {
  font-size: 3rem;
  color: rgb(56, 56, 55);
}

.answer {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  margin-top: 1rem;
  margin-right: auto;
  display: flex;
  justify-content: center;
  color: rgb(56, 56, 55);
}

button {
  transition-duration: 0.4s;
}

.question:hover {
  background-color: white;
  color: #23a2cb;
  border: 0.01rem solid #23a2cb;
}
